.linkbox {
    position: relative;
    transition: all 0.5s ease;

    &__url {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.floating-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.lazyload,
.lazyloading {
    opacity: 0;
    transition: opacity 1.5s;
}

.lazyloaded {
    opacity: 1;
}

.bg-primary {
    background-color: $bg-primary;
}
