.heading {
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
    font-weight: 600;

    @include tablet{
        font-size: 1.4rem;
    }

    &__sub {
		display: block;
		font-size: 1.2rem;
    }
    
    &-sidebar {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            width: 70px;
            border-bottom: 1px solid;
            display: inline-block;
            position: relative;
            top: -6px;
        }

        &::before {
            margin-right: 1rem;
        }

        &::after {
            margin-left: 1rem;
        }
    }
}
