// $font-family-base:"游ゴシック体",
// YuGothic,
// "游ゴシック Medium",
// "Yu Gothic Medium",
// "游ゴシック",
// "Yu Gothic",
// sans-serif;

$font-family-base: "游明朝",
YuMincho,
"Hiragino Mincho ProN W3",
"ヒラギノ明朝 ProN W3",
"Hiragino Mincho ProN",
"HG明朝E",
"ＭＳ Ｐ明朝",
"ＭＳ 明朝",
'Noto Serif JP',
serif;

//========================
// Colors
//========================
$color-text: #333;
$color-bg: #fff;
$color-primary: #ff485d;
$color-secondary: #8d8d8d;
$color-danger: #b40448;
$bg-primary: #f2485e;
//========================
// Responsive
//========================
$pc: 1280px; // PC
$tablet: 960px; // タブレット
$sp: 767px; // スマホ
