.page-header {
    position: relative;
    padding-top: 22%;
    height: 400px;
    @include bg-center();

    &-title {

        &__wrap {
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%,-50%);

            @include tablet {
                left: 48%;
                width: 90vw;
            }
        }

        &__main {
            font-size: 2rem;
            color: white;
            text-shadow: #505050 2px 2px 4px;
            position: absolute;
            right: -2rem;
            margin: 0;
            bottom: 1.5rem;

            @include tablet {
                right: 0;
                bottom: -1rem;
                font-size: 1.8rem;
            }
        }

        &__sub {

        }
    }
}
